/logs
/import
/cache
/vendor
/app/config/artikel_tags.txt
/app/config/artikel_typen.txt
/app/config/config.php
/app/config/*/
/public/storage
/public/uploads
/public/tv
/public/maps
/public/assets
/public/user.ini
.env
.env*
composer.lock
